div{
    padding: 1em;
    background-color: #4D7B91;
}

h2 {
    background-color: #7EA9BD;
    color: #3d3d3d;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0em;
}

ul {
    background-color: #4D7B91;
    padding: 1em;
    margin: 0em;
    list-style: none;
}

li {
    background-color: #7EA9BD;
    border-radius: 0.5em;
    margin-bottom: 1em;  
}

li:last-child {
    margin-bottom: 0em;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

p {
    margin: 0em;
    padding: 1em;
}