div{
    padding: 1em;
    background-color: #4D7B91;
    color: black;
}

h2 {
    background-color: #7EA9BD;
    color: #3d3d3d;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0em;
}

span {
    color: black;
    margin: 0em;
    text-transform: uppercase;
}

button {
    background-color: #7EA9BD;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: #3d3d3d;
    font-size: 1.2em;
    padding: 1em;
    margin-right: 3em;
    margin-top: 1em;
}

button:hover {
    background-color: #2A566A;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}