<div *ngIf="task">
    <h2>{{task.name | uppercase}} Details</h2>
    <div>
        <span>id: </span>{{task.id}}
    </div>
    <div>
        <input type="checkbox" id="isDoneChecker" name="isDoneCheckbox" [(ngModel)]="task.isDone" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
        <label for="task-name">Task name: </label>
        <input id="task-name" [(ngModel)]="task.name" placeholder="Task name" />
    </div>
    <!--  TODO: Date input -->
    <button type="button" (click)="goBack()">go back</button>
</div>