body {
  border-style: solid;
  border-color: #2A566A;
  border-radius: 0.5em;
  margin-top: 12em;
  margin-right: 45em;
  margin-left: 45em;
  min-width: 40em;
  max-width: 40em;
}

body, input[type="text"], button {
  color: gray;
  font-family: Roboto, Cambria, Georgia, serif;
}

h1 {
  color: rgb(255, 255, 255);
  background-color:#2A566A;
  padding: 1em;
}

h2, h3 {
  color: #444;
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}